<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  <title>Generative book</title>
</head>
<body>
  <h1>Pagedjs, Flask Boilerplate.</h1>
  <p>
    The boilerplate seems to be running fine.
  </p>
  <p>
    <a href="{{ url_for('generate') }}">Generate</a> a PDF.
  </p>
  <!-- Or to generate the book with a post request, uncomment the block below. -->
  <!-- <form method="post" action="{{ url_for('generate') }}">
    <button>Generate</button>
  </form> -->
</body>
</html>